.sidebar{
    width: 260px;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    background: var(--primary-color);
    position: fixed;
    padding-left: 30px;
 
    
}
.sidebar__top{
    width: 100%;
    height: 70px;
    line-height: 70px;
}

.sidebar__top h2{

    align-items: center;
    
   
}
.sidebar__top h2 span{
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
 
    border-radius: 50%;
}
.sidebar__top h2 i{
    font-weight: 400;
    margin: 3px;
    color: salmon;
}

.sidebar__content{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: calc(100% - 5%);
    margin-top: 50px;
    margin: 4px;
    padding: 3px;
}
.sidebar__content i {
    margin-left: 3px;
    padding-left: 3px;
}

.menu{
   height: 80%;
}
.sidebar__bottom{
    height: 30%;
}

.bottom__button{
    padding: 8px 70px;
    color: white;
    background-color: salmon;
    border: white;
    cursor:pointer;
    
}

.sidebar__bottom span i{
    margin: 3px;
    border-radius: 2px;
    background-color:lightgoldenrodyellow ;
    padding: 8px 10px;
   padding-top: 3px;
   align-items: center;
   justify-content: center;
   color:salmon;
}
.sidebar__bottom p span{
  
    font-weight: bold;
}

.nav__link{
    display: flex;
    align-items: center;
    column-gap: 3px;
    cursor: pointer;
}
.nav__list{
    display: flex;
    row-gap: 1rem;
    flex-direction: column;
    cursor: pointer;
}
.nav__link i{
    color: var(--secondary-color);
}
.nav__active{
    padding: 10px;
    
}
